In [ ]:
# tuples are immutable

# creating a tuple
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [2]:
tup = tuple()
print(type(tup))

<class 'tuple'>

In [ ]:
# list to tuple
nums = tuple([1,2,3,4,5])
print(nums)

(1, 2, 3, 4, 5)

In [4]:
# tuple to list
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [5]:
mixedTuple = (1, "a", 'a', 3.14, True)
mixedTuple

(1, 'a', 'a', 3.14, True)

In [7]:
# accessing tuple elements
nums = (1,2,3,4,5,6)

nums[3]
nums[-1]

6

In [8]:
nums[0:4]

(1, 2, 3, 4)

In [9]:
nums[::]

(1, 2, 3, 4, 5, 6)

In [10]:
nums[::-1]

(6, 5, 4, 3, 2, 1)

In [11]:
# Tuple Operations

concatenated = nums + mixedTuple
print(concatenated)

(1, 2, 3, 4, 5, 6, 1, 'a', 'a', 3.14, True)

In [12]:
mixedTuple * 3

(1, 'a', 'a', 3.14, True, 1, 'a', 'a', 3.14, True, 1, 'a', 'a', 3.14, True)

In [13]:
nums * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [15]:
# Immutable nature of tuples

nums[1] = "umesh"

TypeError: 'tuple' object does not support item assignment

In [20]:
# Tuple Methods

# count occurence
print(nums.count(1))

# index of particular element - first found from left hand side
print(nums.index(3))

1
2

In [27]:
# packing and unpacking tuple

# packing
packed = 1,"Hello",3.14
print(packed)

# unpacking
a,b,c=packed
print(a)
print(b)
print(c)

# unpacking with *
numbs = (1,2,3,4,5)
first, *middle, secondLast, last = numbs
print(first)
print(middle)
print(secondLast)
print(last)

(1, 'Hello', 3.14)
1
Hello
3.14
1
[2, 3]
4
5

In [28]:
# Nested Tuple
nestedTuple = ((1,2,3),("a","b","c"),(True, False))

# access the elements
print(nestedTuple[0])
print(nestedTuple[2][1])

(1, 2, 3)
False

In [29]:
# iterating over nestes tuple
for subTuple in nestedTuple:
    for item in subTuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False