# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# 1 - Create a tuple with the first 10 positive integers. Print the tuple.
tup = tuple(range(1, 11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# 2 - Print the first, middle, and last elements of the tuple created in Assignment 1.
print(f"first element: {tup[0]}")
print(f"middle element: {tup[len(tup)//2]}")
print(f"last elemenet: {tup[-1]}")

first element: 1
middle element: 6
last elemenet: 10

In [6]:
# 3 - Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print("first 3 elements")
print(tup[:3])
print("last 3 elements")
print(tup[-3:])
print("from index 2 to 5")
print(tup[2:6])

first 3 elements
(1, 2, 3)
last 3 elements
(8, 9, 10)
from index 2 to 5
(3, 4, 5, 6)

In [7]:
# 4 - Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

nestedTuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("nested matrix")
for row in nestedTuple:
    print(row)

print(f"accessing element at second row third column: {nestedTuple[1][2]}")

nested matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
accessing element at second row third column: 6

In [8]:
# 5 - Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1 = (1,2,3)
tup2 = (4,5,6)
tup3 = tup1 + tup2

print(tup3)

(1, 2, 3, 4, 5, 6)

In [10]:
# 6 - Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tup = (1,1,2,3,4,3,3,3)
print(tup.count(3))
print(tup.index(3))

4
3

In [12]:
# 7 - Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup = ('b', "i", 'l', 4, "u")
a,b,c,d,e = tup
print(f"{a} {b} {c} {d} {e}")

b i l 4 u

In [13]:
# 8 - Convert a list of the first 5 positive integers to a tuple. Print the tuple.
tup = tuple(list(range(1, 6)))
print(tup)

(1, 2, 3, 4, 5)

In [14]:
# 9 - Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [16]:
# 10 - Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. 
# Print the resulting tuple.
tup = tuple(range(1, 6))
print(tup)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [19]:
# 11 - Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
s = "billu"
tup = tuple(s)
print(tup)
s1 = "".join(tup)
print(s1)

('b', 'i', 'l', 'l', 'u')
billu

In [20]:
# 12 - Create a dictionary with tuple keys and integer values. Print the dictionary.
dict = {(1,2):1, (3,4):2, (5,6):3}
print(dict)

{(1, 2): 1, (3, 4): 2, (5, 6): 3}

In [21]:
# 13 - Create a nested tuple and iterate over the elements, printing each element.
tup = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for sub_tup in tup:
    for ele in sub_tup:
        print(ele)

1
2
3
4
5
6
7
8
9

In [22]:
# 14 - Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tup = (1,2,2,3,3,3)
st = set(tup)
print(st)

{1, 2, 3}

In [25]:
# 15 - Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def processTuple(tup):

    print(f"maximum element is: {max(tup)}")
    print(f"miniimum element is: {min(tup)}")
    print(f"sum of element is: {sum(tup)}")

tup = (2,3,4,58, 9, 2)
processTuple(tup)

maximum element is: 58
miniimum element is: 2
sum of element is: 78