The map() function applies a given function to all items in an input list(or any other iterable) and return a map object(an iterator).

In [2]:
num = [1,2,3,4,5,6,7,8]
list(map(lambda x : x**2, num))

[1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
num1 = [1,2,3]
num2 = [4,5,6]

addedNum = list(map(lambda x,y : x+y, num1, num2))
print(addedNum)

[5, 7, 9]

In [4]:
# map() to convert a list of strings to integers
strNum = ['1', '2', '3']
intNum = list(map(int, strNum))
print(intNum)

[1, 2, 3]

In [5]:
words = ['apple', 'banana', 'watermelon']
upperWord = list(map(str.upper, words))
print(upperWord)

['APPLE', 'BANANA', 'WATERMELON']

In [6]:
def getName(person):
    return person['name']

people = [
    {'name': 'Krish', 'age': 32},
    {'name': 'Jack', 'age': 34}
]
list(map(getName, people))

['Krish', 'Jack']